

input[type="text"], input[type="password"], input[type="submit"], textarea, select {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 1px solid #aaa;
    width: 100%;
}

[type="submit"] {
    margin-top: 20px;
}

input:hover, textarea:hover, select:hover {
    background-color: rgb(239, 255, 224);
}

[type="checkbox"], [type="radio"] {
    width: 20px;
    height: 20px;
}

nav a {
    background-color: blue;
}

a + a {
    background-color: yellow;
}

nav a + a {

}

* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
}

h1 {
    font-size: 2rem;
    color: #888;
}

h2 {
    font-size: 1.5rem;
    color: #999;
}

p, li, td, th, caption, a {
    font-size: 0.8rem;
    color: #111;
}

html {
    font-size: 20px;
}

/*#zyciorys {
    color: #f84;
}*/

/*div[class="lewa"]*/
div.lewa {
    width: 50%;
    display: inline-block;
}

div.menu {
    width: 50%;
    display: inline-block;
    text-align: right;
}

header {
    height: 200px;
    background-image: url("img/yerka.jpg");
    background-repeat-x: no-repeat;
    background-size: 100%;
    background-repeat-y: no-repeat;
    background-position-y: center;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

tr {
    background-color: #d7eed7;
}

tr:hover {
    background-color: #9fd49f;
}

th {
    background-color: #880000;
    color: #fff;
    font-weight: normal;
    text-align: left;
}

th, td, caption {
    padding: 10px;
    border: 1px dotted black;
}

caption {
    background-color: #aa0000;
    color: white;
}

label {
    display: block;
}

label {
    margin-top: 20px;
    margin-bottom: 5px;
}

fieldset label {
    display: inline-block;
    margin-top: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

legend {
    padding: 0;
}

.blad {
    font-size: 0.7rem;
    color: blue;
    margin: 5px;
}
